<div class="container">
  <label class="container_label" for="autocomplete">Search Pokemon</label>
  <input class="container_input" type="text" placeholder="Search Pokemon" [(ngModel)]="searchTerm" (input) = "filterPokemons(searchTerm)">

  <div class="dropdown">
    <div class="dropdown_display" *ngFor="let options of filterdOptions" (click)="this.searchPokemon(options.name)">
      <div class="dropdown_display_imgName">
        <img src="{{options.img}}">
        <span class="dropdown_display_imgName_pkName">{{options.name | pkname | titlecase}}</span>
      </div>
      <span class="dropdown_display_id">#{{options.id}}</span>
    </div>
  </div>  
</div> 
