.container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 21.875rem;

  label{
    width: 0px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
  }

  input{
    width: inherit;
    height: 3.125rem;

    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.5;
    height: 3.125rem;
    border-radius: 0.25rem;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);

    font-size: 1rem;
    padding: 0.375rem 0.75rem;
  }
}

::placeholder {
  color: rgb(255, 255, 255);
  font-style: italic;
}

.dropdown {
  position: absolute;
  margin-top: 3.125rem;
  width: inherit;
  z-index: 1;
  border-radius: 0.25rem;
  box-shadow: rgb(0 0 0 / 16%) 0px 2px 5px 0px, rgb(0 0 0 / 12%) 0px 2px 10px 0px;
  background: white;

  .display:hover {
    background-color: black;

    .id{
      color: white;
    }

    .pkName{
      color: white;
    }
  }

  .display{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem 0 0;
    gap: 5px;
    justify-content: space-between;

    img{
      width: 60px;
      height: auto;
      padding: 10px;
    }

    .imgName{
      display: flex;

      .pkName{
        padding: 20px 0;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .id {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}