<div class="container">
  <div class="section1">
    <h1 class="title">{{this.typeName | titlecase}}</h1>
    <table>
      <tbody>
        <tr>
          <th>Type Id</th>
          <td>#{{this.typeId}}</td>
        </tr>
        <tr>
          <th>Generation</th>
          <td>{{this.typeGeneration | pkname | titlecase}}</td>
        </tr>
        <tr>
          <th>Move Damage Class</th>
          <td>{{this.typeMoveDmgClass | titlecase}}</td>
        </tr>
      </tbody>
    </table>

    <app-multipliers
    [doubleDamageFrom] = "typeDoubleDmgFrom"
    [doubleDamageTo] = "typeDoubleDmgTo"
    [halfDamageFrom] = "typeHalfDmgFrom"
    [halfDamageTo] = "typeHalfDmgTo"
    [noDamageFrom] = "typeNoDmgFrom"
    [noDamageTo] = "typeNoDmgTo"
  ></app-multipliers>
  </div>
  <div class="section2">
    <a>
      <mat-icon
        svgIcon={{this.type}}
        aria-hidden="false"
        class="icon"
        style="--type-color: {{this.getTypeColor(this.type)}}">
      </mat-icon>
    </a>
    <span class="jp-name">{{this.typeJpName}}</span>
  </div>
</div>
