.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 80rem;
  width: 100%;
  margin: 0px auto;

  height: 3.5rem;

  .create-by {
    display: flex;
    flex-flow: row nowrap;
    margin: auto 0;
    gap: .5rem;
    color: white;

    img {
      width: 4.5rem;
      height: 2.1rem;
    }
    
    img:hover {
      cursor: pointer;
    }
  }

  .github {
    display: flex;
    flex-flow: row nowrap;
    margin: auto 2rem;
    gap: .5rem;
    position: relative;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }

    .icon {
      position: absolute;
      height: 28px;
      width: 28px;
      top: 2px;
      left: 3rem;
    }
  }
}

h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
