.container{
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  
  .section1{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    flex: 1 1 30%;

    .title{
      margin: 0;
      font-size: 5rem;
      font-weight: bold;
      line-height: 5rem;
    }

    table{
      font-size: .875rem;
      line-height: 1.2rem;
      word-break: keep-all;
      border-collapse: collapse;

      th{
        text-align: left;
        width: 12rem;
      }

      td{
        padding: .375rem 1rem;
        font-weight: bold;
        font-size: 1rem;
        white-space: pre-line;
        height: 2.5rem;
      }

      tr:not(:last-child){
        width: 100%;
        border-bottom: 1px solid rgb(236, 236, 236);
      }
    }
  }

  .section2 {
    position: relative;
    flex: 1 1 50%;

    .icon {
      width: auto;
      height: 10rem;
      color: var(--type-color);
      stroke: black;
      stroke-width: 5;
      position: absolute;
      animation: matIcon 3s ease-in-out infinite alternate;

      filter: var(--type-drop-shadow-color);

      left: 15rem; // 12
      top: 9rem; // 5
    }

    .jp-name{
      position: absolute;
      right: 2rem;
      line-height: 1;
      font-size: 3rem;
      font-weight: bold;
      width: 1rem;
    }
  }
}

@keyframes matIcon {
  0% {
    transform: translateY(-.3125rem);
  }
  50% {
    transform: translateY(.3125rem);
  }
  100% {
    transform: translateY(-.3125rem);
  }
}