<div class="container">
  <app-pokemon-infomation
    [pkType] = "pkType"
    [pkName] = "pkName"
    [pkTextEntry] = "pkTextEntry"
    [pkId] = "pkId"
    [pkWeight] = "pkWeight"
    [pkHeight] = "pkHeight"
    [pkAbilities_index] = "pkAbilities_index"
    [pkAbilities] = "pkAbilities"
    [pkColor] = "pkColor"
    [pkShape] = "pkShape"
  ></app-pokemon-infomation>
  <div class="pkSprites">
    <div class="pkimg" >
      <img class="size" src="{{this.pkImg}}" [ngStyle]="{'filter': getColorType(this.pkType[1]) || getColorType(this.pkType[0])}">
    </div>
    <span class="pkja">{{this.pkJaName}}</span>
  </div>
</div>
