.container {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 0;
  min-height: 33.3125rem;

  justify-content: space-between;
}

app-pokemon-infomation {
  width: 60%;
}

.pkSprites {
  position: relative;
  right: 5rem;
  bottom: -3rem;
  width: 40%;

  .pkimg {
    width: 100%;
    animation: img 3s ease-in-out infinite;
    
    .size {
      height: 25rem;
      width: 25rem;
    }
  }

  .pkja {
    position: absolute;
    top: 0;
    right: -5rem;
    z-index: 0;
    word-break: break-all;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    user-select: none;
    width: 1em;
    color: black;
  }
}

@keyframes img {
  0%{
    transform: translatey(-.322rem);
  }
  50%{
    transform: translatey(.322rem);
  }
  100%{
    transform: translatey(-.322rem);
  }
}

