.container {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 0;
  // min-width: 1250px;
  min-height: 33.3125rem;
  // justify-content: space-between;
  // gap: 2rem;
}

app-pokemon-infomation {
  width: 60%;
}

app-pokemon-image {
  width: 40%;
}