.container {
  display: flex;
  flex-flow: column nowrap;

  margin: 0 auto;
  width: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  
}

main {
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px auto;
  width: 100%;
  -webkit-box-flex: 1;
  flex: 1;
  padding: 0;
  z-index: 0;
  max-width: 80rem;
}

p2-ms2 {
  width: inherit;
}
p2-ms1 {
  width: inherit;
}

header {
  flex: 1;
  margin: 2rem auto;
  width: inherit;
  max-width: 80rem;
}
footer {
  flex: 1;
  margin-top: 2rem;
  background-color: black;
}