<app-loader></app-loader>
<div class="container">
  <app-header></app-header>
  <main>
    <app-p2-ms1
      [pkName] = "pkName"
      [pkType] = "pkType"
      [pkTextEntry] = "pkTextEntry"
      [pkId] = "pkId"
      [pkWeight] = "pkWeight"
      [pkHeight] = "pkHeight"
      [pkAbilities_index] = "pkAbilities_index"
      [pkJaName] = "pkJaName"
      [pkImg] = "pkImg"
      [pkColor] = "pkColor"
      [pkShape] = "pkShape"
      [pkAbilities] = "pkAbilities"
    ></app-p2-ms1>
    <app-p2-ms2
      [doubleDamageFrom] = "doubleDamageFrom"
      [doubleDamageTo] = "doubleDamageTo"
      [halfDamageFrom] = "halfDamageFrom"
      [halfDamageTo] = "halfDamageTo"
      [noDamageFrom] = "noDamageFrom"
      [noDamageTo] = "noDamageTo"
      [pkType] = "pkType"
      [stats] = "stats"
    ></app-p2-ms2>
    <!-- <app-ms2-section
      [doubleDamageFrom] = "doubleDamageFrom"
      [doubleDamageTo] = "doubleDamageTo"
      [halfDamageFrom] = "halfDamageFrom"
      [halfDamageTo] = "halfDamageTo"
      [noDamageFrom] = "noDamageFrom"
      [noDamageTo] = "noDamageTo"
      [pkType] = "pkType"
      [stats] = "stats"
    ></app-ms2-section> -->
  </main>
  <app-footer></app-footer>
</div>


