.container {
  display: flex;
  flex-flow: column nowrap;

  margin: 0 auto;
  width: 100%;
  -webkit-box-flex: 1;
  flex: 1;

  main {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    max-width: 80rem;
    margin: 0 auto;
    width: inherit;
  }
}

app-header {
  -webkit-box-flex: 1;
  flex: 1;
  margin: 2rem auto;
  width: inherit;
  max-width: 80rem;
}

app-footer{
  flex: 1;
  background-color: black;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 2rem;
}