<div class="container">
  <app-loader></app-loader>
  <app-header></app-header>
  <main>
    <app-type-info [type]="this.type"></app-type-info>
    <section>
      <div class="nav">
        <div class="pokemon">
          <button mat-button (click)="isHiddenPokemon()"> Pokemon </button>
        </div>
        <div class="moves">
          <button mat-button (click)="isHiddenMoves()"> Moves </button>
        </div>
      </div>

      <div [hidden]="this.isHiddenPk">
        <app-pokemons-type [type] = "type"></app-pokemons-type>
      </div>
      <div [hidden]="this.isHiddenMov">
        <app-pokemons-moves [type] = "type"></app-pokemons-moves>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>

