.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
  }
  
  .main{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    z-index: 1;
    height: 20rem;
    
    .title{
      text-shadow: rgb(0 0 0) -2px -2px 0px, rgb(0 0 0) 2px -2px 0px, rgb(0 0 0) -2px 2px 0px, rgb(0 0 0) 2px 2px 0px;
      font-size: 11.5rem;
      font-family: "Josefin Sans", sans-serif !important;
      color: rgb(255, 255, 255);
  
  
      margin-bottom: 4rem;
  
    }


    .search{
      margin: 0 auto;
    }
    
    .random-button{
      margin: 0 auto;
      padding: 10px 20px;
      width: 15rem;
      background-color: black;
      color: white;
      text-align: center;
      font-size: 1.3rem;
      border-radius: 4px;
      font-weight: 500;
      border: 2px solid rgb(0, 0, 0);
      line-height: 1.4rem;
      letter-spacing: 1px;
      
      
    }
    
    .random-button:hover {
      background-color: white;
      color: black;
      
      filter: drop-shadow(0 0 5px black);
      
      cursor: pointer;
    }
    
    
  }
}
